APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.exmail.qq.com
MAIL_PORT=465
MAIL_USERNAME=customer_service@mcmore.com
MAIL_PASSWORD=mcmore2015
MAIL_ENCRYPTION=ssl

API_PREFIX=api

CLOCKWORK_ENABLE=null

ORG_NAME=144disk
APP_NAME=wechat
CLIENT_ID=YXA6UojoAGNHEeWZjMGm6zwk3Q
CLIENT_SECRET=YXA6vmqu0_29BcURpLdYGRV93d2S8WI
TOKEN_NAME=EasemobToken